.card1 {
    width: 50px;
    float: right;
    margin-bottom: 1px;
    margin-left: 5px;
}

.card2 {
    width: 50px;
    float: right;
    margin-bottom: 1px;
    margin-left: 5px;
}

.card3{
    width: 160px;
    height: 150px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.card4{
    height: 29px;
    width: 50px;
    float: right;
    margin-bottom: 1px;
    margin-left: 5px;
}

.card5{
    height: 29px;
    width: 50px;
    float: right;
    margin-bottom: 1px;
    margin-left: 5px;
}

.date {
    margin-top: 15px;
    margin-bottom: 0;
}

.dollars {
    margin-left: 180px;
}

.hack1 {
    width: 90px;
    border-radius: 45px;
    position: absolute;
    margin-top: 20px;
}

.hack {
    width: 90px;
    border-radius: 45px;
    position: absolute;
    margin-top: 20px;
}

.clr1 {
    background-color: rgb(206, 199, 199);
    margin-bottom: 0;
}

.clr2 {
    background-color: rgb(249, 244, 244);
    margin-top: 0;
}

.clr3 {
    margin-top: 20px;
    border-color: rgb(0, 3, 72);
}

.clr4 {
    background-color: rgb(238, 238, 238);
}

.col-11{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}